.education-heading {
  font-size: 1.7rem;
  color: var(--light-blue);
  padding: 0.1em 0;
  border-bottom: 3px solid var(--light-blue);
  display: inline-block;
  margin-bottom: 1em;
}

.add-education {
  color: var(--white);
  background-color: var(--light-blue);
  font-weight: var(--bold-w);
  margin-top: 1em;
  transform: none;
  transition: transform 300ms ease-in;
  display: block;
}

.add-education:hover,
.add-education:focus {
  transform: translateY(-3px);
  cursor: pointer;
}
