.header {
  background-color: var(--dark-blue);
  color: var(--white);
  padding: 2em;
}

h1 {
  text-align: center;
  margin-bottom: 0.5em;
}

.personal-infos {
  display: flex;
  justify-content: center;
  gap: 2em;
  width: 90%;
  margin: 0 auto;
}
