.header {
  background: black;
  height: 200px;
  width: 100%;
}

.header-section {
  display: flex;
}

.header-main {
  justify-content: space-between;
  align-items: flex-start;
  padding: 2em;
}

.header-info-bar {
  background-color: var(--dark-gray);
  padding: 0.5em 1em;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
