@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --dark-blue: #313b47;
  --white: #fff;
  --black: #000;
  --light-blue: #4f90cd;
  --dark-gray: #333333;
  --red: rgb(197, 26, 26);
  --gray: #e9e4e4;

  --normal-w: 400;
  --bold-w: 700;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: var(--normal-w);
  font-size: 16px;
}

body {
  width: 100vw;
  min-height: 100vh;
  padding-top: 2em;
  display: grid;
  place-items: center;
  background: var(--gray);
}

input,
button {
  outline: none;
  border: none;
  box-shadow: none;
  font-size: inherit;
}

button {
  padding: 0.5em 1em;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}
